<html>

<head>
	<title>SWING</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">




	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<a href="/home" class="logo"><strong>SWING</strong> <span>by SZS</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!--Menu-->
		<nav id="menu">
			<ul class="links">
				<li><a href="/home">Home</a></li>
				<li><a href="/issues">Issues</a></li>
				<li><a href="/candidates">Candidates</a></li>
				<li><a href="/representatives">Find Your Representatives</a></li>
				<li><a href="/about"> About SWING</a></li>
			</ul>
		</nav>


		<!-- Main -->
		<div id="main" class="alt">

			<!-- One -->
			<section id="one">
				<div class="inner">
					<header class="major">
						<h1>Welcome to SWING!</h1>
					</header>
				</div>
				<div>
					<p style="font-size:50px; margin:100px" ; text-align="center">SWING is a website aimed at giving voters the information they need to vote effectively. From the issues to the candidates, SWING wants voters to know WHO they are voting for and WHAT they are voting for.</p>
					<p style="text-align:center;"><img width=50% src="/static/images/szs.jpg" alt=""></p>
						
					<!--#Abortion-->
					<!--<div>-->
					<!--	<p>-->
					<!--	<a href= "https://www.ontheissues.org/2020/Elizabeth_Warren_Abortion.htm"> here </a></p></div>-->
					<!--#LGBTQ-->
					<!--<div>-->
					<!--<p>-->
					<!--<a href= "https://www.ontheissues.org/2020/Elizabeth_Warren_Civil_Rights.htm"> here </a></p></div>-->
					<!--#Civil Rights-->
					<!--<div>-->
					<!--<p>-->
					<!--<a href= "https://www.ontheissues.org/2020/Elizabeth_Warren_Civil_Rights.htm"> here </a></p></div>-->
				</div>
				<div class="content">
					<ul class="actions">
						<li><a href="/home" class="button next scrolly">Go Back</a></li>
					</ul>
				</div>

				<form method="post" action=i dk>



				</form>
				<p></p>
				<p></p>
				<p></p>
		</div>
		</section>

	<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>


</body>

</html>
